<p>Restaurantes</p>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>produtos</th>
    </tr>
  </thead>
  <tbody>
    <% Restaurant.all.each do |r|%>
      <tr>
        <td><%= r.nome%></td>
        <td>
          <table>
            <% r.products.each do |p| %>
              <tr>
                <%= form_tag('/orders') do%>
                  <%= hidden_field_tag :product_id, p.id%>
                  <td><%= p.name%></td>
                  <td>R$: <%= p.value%></td>
                  <td><%=submit_tag 'Pedir'%></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
